<TaskBar></TaskBar>
<div class="fullpostBox " >
     <Column>   </Column>
     <div class="container-fluid ml-5 pl-5" style="background-color: rgb(224, 224, 224);">
     <div class="mainPostBox ">
          <div class='CreatePost'>
{{!-- <Textarea @value={{textArea}}  cols="80" rows="4" placeholder="Type here to post"/>
           <div  {{on "click" this.post}} class="btn btn-primary"  >SUBMIT</div> --}}
       <Posts></Posts>    
    </div> 
    </div>
    </div>
 </div>

    
{{yield}}
