<div class=login-full-page>
    <div class='logo' ></div>
     <LinkTo @route="homePage"  class="login-button" {{on "click" (fn sayClick "guest")}} >guest</LinkTo>
     <LinkTo @route="register" class="login-button" >register</LinkTo>
     <p class="logintext">already registered</p>
     <LinkTo @route="login" class="login-button" >Admin</LinkTo>
          <LinkTo @route="login" class="login-button" >login</LinkTo>
</div>
{{outlet}}