<div class="mainDiv">
    <TaskBar></TaskBar>
    <Column></Column>
    <div class="boxes ProfilePageBox1 ">
         {{!-- <LinkTo  @route="homePage" class="ProfileBox1" placeholder="home"></LinkTo> --}}
        <div class="profilePic">
            <ImageSetting @className="profilePicImage" @user={{@model}}></ImageSetting>
            <p>{{@model}}</p>
        </div>
    </div>
    <div class="boxes box2-profile" style="margin-left: 350px;">
<Posts @page="profile"></Posts>

    </div>

</div>

{{outlet}}