<div class="mainDiv">
    <div class="boxes " style="background-color: rgb(92,142,224); ">
        <LinkTo  @route="homePage" class="ProfileBox1" placeholder="home"></LinkTo>
        <div class="profilePic">
            <ImageSetting @className="profilePicImage" @user={{@model}}></ImageSetting>
            
            <p>{{@model}}</p>
        </div>
    </div>
    <div class="boxes">
<Posts @page="profile"></Posts>

    </div>

</div>

{{outlet}}